@page
@model SacramentMeetingPlanner.Pages.Planners.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Sacrament Meeting Plans</h1>

<p>
    <a asp-page="Create">Create A New Plan</a>
</p>
<div class="indexContainer">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Planner[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Planner[0].Leader)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Planner) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Leader)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
